<% include partials/header.ejs %>

</style>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h4 class="lead">YelpCamp</h4>
            <ul class="list-group">
                <li class="list-group-item">First item</li>
                <li class="list-group-item">Second item</li>
                <li class="list-group-item">Third item</li>
            </ul>
        </div>
        <div class="col-md-8">
            <div class="img-thumbnail">
                <img style="width: 100%; height: 20rem; " class="figure-img mx-auto d-block" src="<%= campground.image %>">
                <div class="px-2 ">
                    <h6 id="campname"><a href="#"><%= campground.name %></a></h6>
                    <span class="float-right"><strong> $<%= campground.price %>/night </strong></span>
                    <p id="campCreator"><strong><em>Created by <%= campground.User.username %></em></strong></p>
                    <p id="campdesc"><%= campground.description %></p><br>
                </div>
                
                
                <div >
                    <!--If a user is loged in, and he/she created the campground, show the buttons; else, dont!-->
                    <!--Note that this check is by id-->
                <%    if(CurrentUser && campground.User.id.equals(CurrentUser._id)) {  %>
                        <a class="btn btn-warning btn-sm" href="/campgrounds/<%= campground._id %>/edit">Edit</a>
                    <form id="delete" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                        <button class="btn btn-danger btn-sm">Delete</button>
                    </form> 
                 <%   }   %>
                    
                </div>
                            
            </div>
            <div class="card" style="margin: 10px 0px 10px 0px">
                <div class="card-body">
                    <div class="text-right">
                        <a class="btn btn-dark btn-sm" href="/campgrounds/<%= campground._id %>/comments/new">Add comment</a>
                    </div>
                    
                    <hr>
                    <% campground.comments.forEach(function(comment) { %>
                        <strong><%= comment.author.username  %></strong>
                        <span class="float-right">10 days ago</span>
                        <p class="card-text">
                            <%= comment.text %> 
                        </p>
                        <%    if(CurrentUser && comment.author.id.equals(CurrentUser._id)) {  %>
                        <a href="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/edit" class="btn btn-sm btn-warning">Edit</a>
                        
                        <form id="deleteBtn" action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=delete" method="POST">
                            <button class="btn btn-sm btn-danger">Delete</button>
                        </form>
                        <br>
                        <%   }   %>
                    <% }) %>
                    
                </div>   
            </div>
            
        </div>
    </div>                  
</div>


<% include partials/footer.ejs %>
